server:
  error:
    include-message: always
    include-binding-errors: always

spring:
  datasource:
    url: jdbc:sqlserver://${db_server};databaseName=${db_name};encrypt=true;trustServerCertificate=true;
    username: ${db_username}
    password: ${db_password}
  jpa:
    hibernate:
      ddl-auto: create-drop
      properties:
        hibernate:
          dialect: org.hibernate.dialect.SQLServerDialect
          format_sql: true
          show-sql: true
  security:
    jwt:
      secret: ${jwt_secret}
      expiration: 86400000
      issuer: ${jwt_issuer}
      refresh: 604800000
    oauth2:
      client:
        registration:
          github:
            client-id: ${github_client_id}
            client-secret: ${github_secret}

  logging:
    level:
      org:
        springframework:
          security: TRACE


